# This notebook gives 
## X_train, y_train
## X_val, y_val
## X_test

In [1]:
import pandas as pd
import numpy as np

import math
import matplotlib.pyplot as plt
%matplotlib inline
from sklearn import preprocessing 
from scipy.optimize import minimize
from sklearn import metrics

from sklearn.metrics import roc_auc_score
from sklearn.metrics import accuracy_score


from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn import metrics
from datetime import datetime
import nltk
nltk.download('stopwords')
from nltk.tokenize import word_tokenize
from nltk.tokenize import RegexpTokenizer
from nltk.corpus import stopwords

[nltk_data] Downloading package stopwords to /Users/viraj/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

In [30]:
train = pd.read_csv('train.csv')
val = pd.read_csv('dev.csv')
test = pd.read_csv('test_no_label.csv').drop('label', axis = 1)

In [35]:
print("Training data:   ", train.shape)
print("Validation data: ", val.shape)
print("Test data:       ", test.shape)  # no label

Training data:    (250874, 7)
Validation data:  (35918, 7)
Test data:        (72165, 6)

In [36]:
train.head(10)

,ex_id,user_id,prod_id,rating,label,date,review
0,0,923,0,3.0,1,2014-12-08,The food at snack is a selection of popular Gr...
1,1,924,0,3.0,1,2013-05-16,This little place in Soho is wonderful. I had ...
2,2,925,0,4.0,1,2013-07-01,ordered lunch for 15 from Snack last Friday. ...
3,3,926,0,4.0,1,2011-07-28,This is a beautiful quaint little restaurant o...
4,4,927,0,4.0,1,2010-11-01,Snack is great place for a casual sit down lu...
5,5,928,0,4.0,1,2009-09-02,A solid 4 stars for this greek food spot. If ...
6,7,930,0,4.0,1,2007-05-20,Love this place! Try the Chicken sandwich or ...
7,8,931,0,4.0,1,2005-12-27,My friend and I were intrigued by the nightly ...
8,10,933,0,5.0,1,2014-01-21,pretty cool place...good food...good people
9,12,935,0,5.0,1,2011-01-31,Fabulous Authentic Greek Food!!! This little s...

## TF-IDF Vectorization

In [46]:
train_corpus = train['review']
val_corpus = val['review']
test_corpus=test['review']

In [38]:
tf = TfidfVectorizer(binary = False, ngram_range = (1,2), stop_words = 'english', max_features=2000)

In [39]:
train_tfidf = tf.fit_transform(train_corpus)

In [40]:
print(train_tfidf.shape)

(250874, 2000)

In [41]:
print(type(train_tfidf))

<class 'scipy.sparse.csr.csr_matrix'>

In [42]:
train_features=train_tfidf.toarray()   #convert to numpy array

In [43]:
val_tfidf=tf.transform(val_corpus)

In [44]:
val_features=val_tfidf.toarray()

In [45]:
val_features.shape

(35918, 2000)

In [47]:
test_tfidf=tf.transform(test_corpus)

In [48]:
test_features=test_tfidf.toarray()

In [49]:
test_features.shape

(72165, 2000)

###  Add the column for rating and divide by 5 to bring the value between [0,1]

In [61]:
X_train=np.c_[train_features,train['rating'].values/5]

In [66]:
X_val=np.c_[val_features,val['rating'].values/5]

In [78]:
X_test=np.c_[test_features,test['rating'].values/5]

In [76]:
#X_val[:,-1][:10]*5 #check top 10

array([5., 4., 5., 4., 3., 5., 4., 4., 3., 4.])

In [80]:
#X_test[:,-1][:10]*5 #check top 10

array([4., 5., 4., 5., 5., 5., 5., 4., 5., 4.])

In [82]:
y_train = train['label'].values
y_val = val['label'].values

## Processed Data for Training, Validation and Testing:

In [85]:
print("Training data is ", X_train.shape, "and labels are ", y_train.shape)

Training data is  (250874, 2001) and labels are  (250874,)

In [86]:
print("Validation data is ", X_val.shape, "and labels are ", y_val.shape)

Validation data is  (35918, 2001) and labels are  (35918,)

In [87]:
print("Test data is ", X_test.shape, "and labels will be predicted by model ")

Test data is  (72165, 2001) and labels will be predicted by model

In [ ]:
#np.savetxt('X_train.csv', X_train, delimiter=',')